<% obj.each do |article| %>

    <div class="row">

      <div class="col-xs-8 col-xs-offset-2">

        <div class="well well-lg">

          <div class="article-title">

            <%= link_to article.title, article_path(article) %>

          </div>

          <div class="article-body">

            <%= truncate(article.description, length: 100) %>
            <div class="article-meta-details">
              <small> Creado por: <%= article.user.username if article.user%>,
                              hace <%= time_ago_in_words(article.created_at) %>,
                              Ultima actualizacion hace: <%= time_ago_in_words(article.updated_at) %> </small>
            </div>
          </div>
          
          <% if logged_in? && (current_user == article.user || current_user.admin?) %>
            <div class="article-actions">
  
              <%= link_to "Editar esta pregunta", edit_article_path(article), class: "btn btn-xs btn-primary" %>
  
              <%= link_to "Borrar esta pregunta", article_path(article), 
              
                                                method: :delete,
  
                                                data: { confirm: "¿Seguro que quieres borrarlo?"},
  
                                                class: "btn btn-xs btn-danger" %>
  
            </div>
          <% end %>

        </div>

      </div>

    </div>

<% end %>